%h1 Checkpoints
%hr

=link_to 'Create New Checkpoint', new_checkpoint_path

%hr

%table.table.table-striped
  %thead
    %tr
      %th.span1 Checkpoint
      %th.span1 Status
      %th.span2 Last Updated At
  %tbody
    - @checkpoints.order(name: :asc).each do | c |
      %tr
        %td=link_to c.name, checkpoint_path(c)
        -if c.open
          %td{class: 'open-true bold'}= I18n.t('open').capitalize
        -else
          %td{class: 'open-false bold'}= I18n.t('closed').capitalize

        %td= c.messages.last.created_at.to_formatted_s(:long) if c.messages.present?

%br/
%br/
