%h1 Checkpoints
%hr

=link_to 'Create new Checkpoint', new_checkpoint_path

%ul
  -@checkpoints.each do |checkpoint|
    %li
      %h4
        %a{:href => "#{checkpoint_path(checkpoint)}"}
          -if checkpoint.open
            =checkpoint.name + " - open"
          -else
            =checkpoint.name + " - closed"

%br/
%br/
