%h1 Checkpoints
%hr

=link_to 'Create new Checkpoint', new_checkpoint_path


%table.table.table-striped
  %tr
    %th.span1 Checkpoint
    %th.span1 Status
    %th.span2 Last Updated At
  - @checkpoints.each do | c |
    %tr
      %td= c.name
      %td= (c.open == true ? "Open" : "Closed")
      %td= Time.now

