%h1 Checkpoints

%ul
  -@checkpoints.each do |checkpoint|
    %li
      %h3
        %a{:href => "#{checkpoint_path(checkpoint)}"}
          =checkpoint.name


=link_to 'Create new Checkpoint', new_checkpoint_path
