  Checkpoint is
  -if @checkpoint.open
    %strong open
    
    .wait-time
      Estimated wait time is @checkpoint.
      wait_time
  -else
    %strong closed

%br/
%br/

%h3 Recent Activity
%ul
  -@tweets.each do |tweet|
    %li
      #{tweet.text} - 
      %a{:href => "https://www.twitter.com/#{tweet.user.screen_name}", target: "_blank"}
        @#{tweet.user.screen_name}
      \-
      %strong
        #{tweet.created_at.to_formatted_s(:long)}
        

%br/
%br/
%br/
%br/