/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'datatable.css';

.name{
  margin: 1% 0;
}

.name .name-label{
  font-size: large;
  margin: 0 4px 0 0;
}

.open{
  padding: 2% 0 0 0;
}

.open .open-label{
  font-size: large;
}

.open .radio-label {
  font-size: 15px;
  margin: 0 2px 0 0;
}

.btn.left-btn{
  padding-left: 0;
  margin-left: 0;
}

#map-canvas{
  width: 650px; 
  height: 350px;
}

