@import "bootstrap"
@import "themes"
@import "datatable"
@import "rtl"

.name
  margin: 1% 0

.name .name-label
  font-size: large
  margin: 0 4px 0 0

.open
  padding: 2% 0 0 0

.open .open-label
  font-size: large

.open .radio-label 
  font-size: 15px
  margin: 0 2px 0 0

.btn.left-btn
  padding-left: 0
  margin-left: 0

#map-canvas
  margin-top: 60px
  border: 1px solid #D6D6D6
  height: 400px
  width: 100%

#chart
  float: right
  padding: 0
  margin: 0
